<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<!-- <ul id="example-1">
			<li v-for="item in items" :key="item.message">{{ item.message }}</li>
		</ul> -->
		<ul id="example-1">
		  <li v-for="(item, index) in items">
		    {{ parentMessage }} - {{ index }} - {{ item.message }}
		  </li>
		</ul>
		<!-- 在遍历对象时，会按 Object.keys() 的结果遍历，但是不能保证它的结果在不同的 JavaScript 引擎下都一致。 -->
		<ul id="v-for-object">
			<li v-for="(value, name) in items">
				{{ name }}: {{ value }}
			</li>
		</ul>
		
		<!-- 显示过滤/排序后的结果 -->
		<ul id="example-3">
			<li v-for="n in evenNumbers">{{ n }}</li>
		</ul>
		<!-- 在 v-for 里使用值范围 -->
		<div>
		  <span v-for="n in 10">{{ n }} </span>   // 重复10次
		</div>
		
		<div id="todo-list-example">
		  <form v-on:submit.prevent="addNewTodo">
		    <label for="new-todo">Add a todo</label>
		    <input
		      v-model="newTodoText"
		      id="new-todo"
		      placeholder="E.g. Feed the cat"
		    >
		    <button>Add</button>
		  </form>
		  <ul>
		    <li
		      is="todo-item"
		      v-for="(todo, index) in todos"
		      v-bind:key="todo.id"
		      v-bind:title="todo.title"
		      v-on:remove="todos.splice(index, 1)"
		    ></li>
		  </ul>
		</div>
		
		
		<script type="text/javascript">
			var example1 = new Vue({
				el: "#example-1",
				data: {
					parentMessage: 'Parent',
					items: [
						{message: "Foo"},
						{message: "Bar"},
					]
				}
			})
			new Vue({
				el: "#v-for-object",
				data: {
					items: {
						title: "how to lists in Vue",
						author: "Jane Doe",
						publishedAt: "20160-04-10"
					}
				}
			})
			new Vue({
				el: "#example-3",
				data: {
					numbers: [1, 2, 3, 4, 5, 6]
				},
				computed: {
					evenNumbers: function(){
						return this.numbers.filter(function(number){
							return number % 2 === 0
						}) 
					}
				}
			})
			Vue.component('todo-item', {
			  template: '\
				<li>\
				  {{ title }}\
				  <button v-on:click="$emit(\'remove\')">Remove</button>\
				</li>\
			  ',
			  props: ['title']
			})
			new Vue({
			  el: '#todo-list-example',
			  data: {
			    newTodoText: '',
			    todos: [
			      {
			        id: 1,
			        title: 'Do the dishes',
			      },
			      {
			        id: 2,
			        title: 'Take out the trash',
			      },
			      {
			        id: 3,
			        title: 'Mow the lawn'
			      }
			    ],
			    nextTodoId: 4
			  },
			  methods: {
			    addNewTodo: function () {
			      this.todos.push({
			        id: this.nextTodoId++,
			        title: this.newTodoText
			      })
			      this.newTodoText = ''
			    }
			  }
			})
		</script>
	</body>
</html>
